@import url('./styles/theme.css');
@import url('./styles/utilities.css');

html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji';
  color: var(--text-900);
  background: var(--bg-app);
}
* {
  box-sizing: border-box;
}
